:host(.MainwindowTabSheetTabs) [part$="tabs"] {
    padding-left: var(--turku-lrmain-space);
    padding-right: var(--turku-lrmain-space);
    margin: 0px;
}

:host() {
    min-height: 35px;
    max-height: 35px;
    height: 35px;
}