/*
 * MPREIS specific adoptions for the turkuforms
 *
 * modellwerkstatt.org
 * Stieger Dan, Spring 23
 *
 */


.SpanLogo {
    background-image: url("./img/mpreis_small_logo.png");
    width: 103px;
    height: 21px;
}
