/*
 * vaadin master stylesheet for the bigm23 template
 *
 *
 */

@import url('./fonts/ibmplexsans.css');
@import url('./fonts/materialicons.css');

@import url('./mpreis.css');
@import url('./turku.css');


html {
    --lumo-font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
    --turku-bold: 800;

    --lumo-font-size-xxs: 0.75rem;
    --lumo-font-size-xs: 0.75rem;
    --lumo-font-size-s: 0.875rem;
    --lumo-font-size-m: 1rem;
    --lumo-font-size-l: 1.1rem;
    --lumo-font-size-xl: 1.125rem;
    --lumo-font-size-xxl: 1.5rem;
    --lumo-font-size-xxxl: 1.75rem;

    /* --lumo-primary-color: rgba(30, 206, 201, 1.0); */
    --turku-cmd-color: rgba(23, 132, 200, 1.0);
    --turku-cmd-color-shade: rgba(23, 132, 200, 0.1);

    --lumo-primary-color: rgba(23, 132, 200, 1.0);
    --lumo-primary-color-selected: rgba(23, 132, 200, 0.07);
    --lumo-primary-text-color: rgba(75, 84, 102, 1.0);
    --turku-shade-disabled: rgba(26, 26, 26, 0);
    --turku-warning-color: #FF6700;

    --lumo-base-color: #f1f1f5;

    --turku-primary-background: #ffffff;
    background: var(--turku-primary-background);
    --turku-lrmain-space: 60px;

    /* --turku-grid-selected-row-color: rgba(75, 84, 102, 0.3); */
    --turku-grid-selected-row-color: rgba(23, 132, 200, 0.8);
    --turku-hierarchy-spacing: 0.5em;
    --turku-form-menu-height: 1.5rem;

    /* button border, tab bottom border */
    --turku-border-size: 2px;

    --vaadin-field-default-width: 4em;
}