/*
 * Turkuforms modellwerkstatt.org
 * Stieger Dan, Winter 22/23
 *
 * Standard moware css adoptions for vaadin V24
 */



/* * * * * * * * * * * * * * * * * * * * * * */

.v-loading-indicator {
    background: black;
}

vaadin-tooltip-overlay::part(content) {
   white-space: pre;
}

@media screen and (max-width: 810px) {

    .BottomConclusionButtons {
       /*
        * flex-wrap: wrap-reverse !important;
        * flex-direction: row-reverse;
        */
    }
    .BottomConclusionButtons .LeftRightFlexSpacer {
        display: none;
    }
    .BottomConclusionButtons .LeftRightFlexChild {
        flex: 1 0 45%;
    }
    .BottomConclusionButtons vaadin-button:first-child, .BottomConclusionButtons vaadin-button:last-child {
        margin-right: 0em !important;
        margin-left: 0em !important;
    }

    .InvisibleWhenBelow {
        display: none;
    }

    vaadin-app-layout, .TurkuLayoutNavbarTop {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
}




.TurkuMaterialIcon {
    font-family: Material Icons;
    padding-right: 0.5em;
    font-size: 18px;
    vertical-align: middle;
}

/* TurkuApplication  * * * * * * * * * * * * * * * */

.TurkuLayoutNavbarTop {
    padding-left: var(--turku-lrmain-space);
    padding-right: var(--turku-lrmain-space);
    background: white !important;
    border-top: 6px solid transparent;
}

.TurkuLayoutNavbarTop > *{
    align-self: center;
}

vaadin-app-layout::part(navbar) {
    background: white !important;
}
vaadin-app-layout::part(navbar)::before {
    background: white !important;
    opacity: 0;
}
.TurkuLayoutNavbarTitle {
    margin-left: 1em;
}
.TurkuLayoutNavbarText {
    font-size: var(--lumo-font-size-m);
    color: var(--lumo-primary-text-color);
    font-weight: 500;
}

.TurkuLayoutMenuBar::part(menu-bar-button) {
    margin-left: 3em;
}

.TurkuLayoutMenuBar::part(container) {
    justify-content: flex-end;

}

.MainwindowTileButton {
    font-size: var(--lumo-font-size-m);
    background: var(--lumo-contrast-10pct);
    margin: 1em;
}

.MainwindowTileButton[disabled] {
    color: var(--lumo-disabled-text-color) !important;
    border-bottom: none !important;
}

.MainwindowTilesGrid {
    margin-top: 3em;
}

.TurkulayoutMenuIcon {
    box-sizing: border-box;
    margin-inline-end: var(--lumo-space-m);
    padding: var(--lumo-space-xs);
}

vaadin-app-layout::part(drawer) {
    width: 25em;
}

.DrawerLogout [slot~='prefix'] {
    padding: 0px !important;
}

vaadin-drawer-toggle {
    margin: 0px;
}

vaadin-vertical-layout[slot $= "drawer"] label {
    margin: 2em 2em 0.1em 2em;
    font-size: var(--lumo-font-size-m);
}


/* TabSheet and Tabs * * * * * * * * * * * * */
.MainwindowTabSheet {
    background: #f7f8fa;
}

.TurkuTabForm {
    /* padding on tab form breaks flex and 100% width */
}

.TurkuTabForm > .TurkuTable, .TurkuTabForm > .TurkuGrid, .TurkuTabForm > .TurkuDelegatesForm {
    padding-top: var(--turku-hierarchy-spacing);
/*    padding-left: var(--turku-hierarchy-spacing);
    padding-right: var(--turku-hierarchy-spacing); */

}

vaadin-tabsheet::part(content) {
	padding: 0px !important;
}
vaadin-tab {
    border-bottom: 2px solid transparent;
}
vaadin-tab[aria-selected~='true']{
    /* background: var(--turku-primary-background);
    border-bottom: 2px solid var(--lumo-primary-color); */
    color: var(--turku-cmd-color);
    border-bottom: 2px solid var(--turku-cmd-color);
    background: var(--turku-cmd-color-shade);
}



.CmdUiTab, .CmdUiPrompt {
    background: var(--turku-primary-background);
    font-size: var(--lumo-font-size-m);
    line-height: var(--lumo-line-height-m);
    font-family: var(--lumo-font-family);
    padding-top: 1em;
}

.CmdUiTab {
    padding-left: var(--turku-lrmain-space);
    padding-right: var(--turku-lrmain-space);
}

.ModalTab::part(tabs-container) {
    background-color: var(--lumo-primary-color-selected);
}


/* PromptWindow / CmdUi * * * * * * * * * * */
.PromptWindow::part(overlay) {
    position: absolute !important;
    top: 0px !important;
}

.PromptWindowInfoDiv {
    padding: 4em;
    white-space: pre;
}

.PromptWindowQuestion {
    color: var(--lumo-error-color) !important;
    font-weight: var(--turku-bold);
}

.PromptWindowLarge {
    font-family: courier;
    font-size: var(--lumo-font-size-xs);
}


vaadin-button::part(prefix) {
    margin-bottom: -4px;
}
.MainwindowTileButton::part(prefix) {
    margin-top: 3px;
}

.BottomConclusionButtons {
    padding: 0.2em 0em;
}

.TurkuLumoTertiary:not([disabled]) {
    color: var(--turku-cmd-color);
}
.TurkuLumoPrimary:not([disabled])  {
    background-color: var(--turku-cmd-color);

}
.TurkuLumoSecondary:not([disabled])  {
    color: var(--turku-cmd-color);
    border: 1px solid  var(--turku-cmd-color);
}


/* TurkuGridLayout (+ gen. form) * * * * * * * * * * * * * * * * */
.TurkuGrid{
    /* grid has no margin, no padding
     * allowing for grid in grid in grid, without loosing space */
}

.FormHeading {
    font-weight: var(--turku-bold);
    color: var(--turku-cmd-color); /* var(--lumo-primary-color); */
    margin-left: 0.2em;
}

.FormHeading[pageTitle~'true'] {
    margin-top: calc(var(--turku-hierarchy-spacing) * 2);
    margin-bottom: calc(var(--turku-hierarchy-spacing) * 3);
}

.FormHeading[pageTitle~'true'] .FormHeadingTitle {
    font-size: var(--lumo-font-size-xl);
    line-height: var(--lumo-font-size-xl);
    padding: var(--turku-hierarchy-spacing) 0em;
}


.FormHeading[pageTitle~'true'] .FormHeadingSubTitle {
    padding: calv(var(--turku-hierarchy-spacing) / 2) 0em;
}

/* Table / From top pane search / csv-export / menubar */
.TurkuHeadingTopPane {
    margin-bottom: 2px;
}

.TurkuHeadingTopPane vaadin-text-field {
    padding: 0em;
    margin: 0em;
    height: var(--turku-form-menu-height);
    align-self: end;
    width: 150px;
}
.TurkuHeadingTopPane vaadin-text-field input {
    height: var(--turku-form-menu-height);
    min-height: var(--turku-form-menu-height);
}
.TurkuHeadingTopPane vaadin-button {
    padding: 0em;
    margin: 0em;
    height: var(--turku-form-menu-height);
    min-width: 8em;
    align-self: end;
}
.TurkuHeadingTopPane vaadin-menu-bar {
    /* margin-right: 0.5em;
    padding: 0em 0.5em; */
    align-self: end;
    --lumo-primary-text-color: var(--turku-cmd-color);
}
.TurkuFormMenu::part(menu-bar-button) {
    height: var(--turku-form-menu-height);
    margin: 0em;
    align-self: end;
    padding: 0em 0.5em;
}

.TabLockingMessage {
    background-color: var(--lumo-error-color) !important;
    color: white;
    font-weight: var(--turku-bold);

    padding: 0.1em 5em 0.1em 0.1em;
    margin: var(--turku-hierarchy-spacing);
}
.TabLockingButton {
    color: var(--lumo-error-color);
    margin-bottom: 0.2em
}

.TurkuErrorDiv {
    background-color: var(--lumo-error-color) !important;
    color: white;
    margin: 0.2em 0em 0.2em 0em;
    font-weight: var(--turku-bold);
    padding: 0em 0.5em;
}
.TurkuWarningDiv {
    background-color: var(--turku-warning-color) !important;
    margin: 0.2em 0em 0.2em 0em;
    font-weight: var(--turku-bold);
    color: white;
    padding: 0em 0.5em;
}




/* TurkuTable * * * * * * * * * * * * * * * */
.TurkuTable {
    /* padding: var(--turku-hierarchy-spacing); */
    padding-bottom: calc(2 * var(--turku-hierarchy-spacing));
}

vaadin-selection-grid {
    height: 100px !important;
}

.TurkuTableSummaryLine {
    font-size: var(--lumo-font-size-s);
    font-weight: var(--turku-bold);
    padding-top: 0.3em;
}

.TurkuTableSummaryLine label:first-child, .TurkuTableSummaryLine label:last-child {
    border-radius: 0.6rem;
    padding: 0 0.5rem;
    background-color: var(--turku-alternate-background2);
}

.TurkuTableSummaryLine label:first-child:empty, .TurkuTableSummaryLine label:last-child:empty {
    display: none;
}

/* cell styling * * * */
.TrkCelImp {
    font-weight:var(--turku-bold);
}
.TrkCelColImp {
    font-weight:var(--turku-bold);
    color: var(--turku-CelCol);
    background-color: var(--turku-CelColBg);
    border-radius: 0.6rem;
    padding: 0 0.5rem;
}
.TrkCelCol {
    color: var(--turku-CelCol);
    background-color: var(--turku-CelColBg);
    border-radius: 0.6rem;
    padding: 0 0.5rem;
}



vaadin-grid-sorter:not([direction])::part(indicators)::before {
  display: none;
}

vaadin-grid-pro-edit-text-field[theme~='grid-pro-editor'] {
  --lumo-text-field-size: 1rem !important;
}




/* TurkuDelegatesForm * * * * * * * * * * * * * * * */

vaadin-form-item::part(label) {
    width: 10.5em;
    text-align: right;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: calc(var(--turku-bold) - 500);
}

.TurkuImageFormItem::part(label) {
    display: none;
}

vaadin-combo-box-item {
    padding: 0;
    min-height: 0;
}

.TurkuDelegatesForm{
    /* padding: var(--turku-hierarchy-spacing); */
    padding-bottom: calc(2 * var(--turku-hierarchy-spacing))
}

vaadin-form-layout[children$="1"] .FormItemWideOption vaadin-text-area[disabled] {
    border: 1px solid var(--lumo-contrast-20pct);
}

vaadin-text-field[disabled],
vaadin-text-area[disabled],
vaadin-combo-box[disabled],
vaadin-select[disabled],
vaadin-date-time-picker-date-picker[disabled],
vaadin-date-time-picker-time-picker[disabled],
vaadin-date-picker[disabled],
vaadin-radio-group[disabled]
{
	padding-top: 0px;
	padding-bottom: 0px;
}

vaadin-text-field[disabled]::part(input-field),
vaadin-text-area[disabled]::part(input-field),
vaadin-combo-box[disabled]::part(input-field),
vaadin-select[disabled]::part(input-field),
vaadin-date-time-picker-date-picker[disabled]::part(input-field),
vaadin-date-time-picker-time-picker[disabled]::part(input-field),
vaadin-date-picker[disabled]::part(input-field)
{
	background-color: var(--turku-shade-disabled);
}

vaadin-text-field > input[disabled],
vaadin-text-area > textarea[disabled],
vaadin-combo-box > input[disabled],
vaadin-select > vaadin-select-value-button[disabled],
vaadin-date-time-picker-date-picker > input[disabled],
vaadin-date-time-picker-time-picker > input[disabled],
vaadin-date-picker > input[disabled],
vaadin-radio-button > label[disabled]
{

  color: var(--lumo-secondary-text-color);
  -webkit-text-fill-color: var(--lumo-secondary-text-color);
  font-weight: var(--turku-bold);
}

vaadin-radio-button[disabled]::part(radio) {
    display: none;
}
vaadin-radio-button[disabled]:not([checked]) {
    display: none;
}

.uploadEditorError {
    border: 2px solid var(--lumo-error-color);
}


/* - - - - - - - - - - - - - - - - - - - - - - - - SDI STUFF - - - - - - - - - - - - - -*/
.TurkuLayoutNavbarTopSDI {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
     box-sizing: border-box;
}