/*
 * Turkuforms modellwerkstatt.org
 * Stieger Dan, Winter 22/23
 *
 * Standard moware css adoptions for vaadin V24
 */


/* ---- Material Icons Stuff ------------------------------------------------ */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(MaterialIcons-Regular.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 20px !important;  /* Preferred icon size 22px, this is not working anyway */
  display: inline-block;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  vertical-align: bottom;
  line-height: 1;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* * * * * * * * * * * * * * * * * * * * * * */

.v-loading-indicator {
    background: var(--lumo-primary-text-color);
}

vaadin-tooltip-overlay::part(content) {
   white-space: pre;
}

.TurkuLabel {
    color: var(--lumo-primary-text-color);
    font-family: var(--lumo-font-family);
    font-size: var(--lumo-font-size-m);
    line-height: var(--lumo-line-height-xs);
    font-weight: 500;
}

@media screen and (max-width: 810px) {

    .BottomConclusionButtons {
        flex-wrap: wrap-reverse !important;
        flex-direction: row-reverse;
    }
    .BottomConclusionButtons .LeftRightFlexSpacer {
        display: none;
    }
    .BottomConclusionButtons .LeftRightFlexChild {
        flex: 1 0 45%;
    }
    .BottomConclusionButtons vaadin-button:first-child, .BottomConclusionButtons vaadin-button:last-child {
        margin-right: 0em !important;
        margin-left: 0em !important;
    }


    .InvisibleWhenBelow {
        display: none;
    }
}




/* TurkuApplication  * * * * * * * * * * * * * * * */

.TurkuLayoutNavbarTop {
    padding-left: 2em;
    padding-right: 2em;
    background: white !important;
    border-top: 6px solid transparent;
}

.TurkuLayoutNavbarTop > *{
    align-self: center;
}

vaadin-app-layout::part(navbar) {
    background: white !important;
}
vaadin-app-layout::part(navbar)::before {
    background: white !important;
    opacity: 0;
}
.TurkuLayoutNavbarTitle {
    margin-left: 1em;
    font-size: var(--lumo-font-size-m);
    color: var(--lumo-primary-text-color);
}
.TurkuLayoutMenuBar::part(menu-bar-button) {
    margin-left: 3em;
}

.TurkuLayoutMenuBar::part(container) {
    justify-content: flex-end;

}

.MainwindowTileButton {
    font-size: var(--lumo-font-size-s);
    margin: 1em;
}

.MainwindowTilesGrid {
    margin-top: 3em;
}

.TurkulayoutMenuIcon {
    box-sizing: border-box;
    margin-inline-end: var(--lumo-space-m);
    padding: var(--lumo-space-xs);
}

.MainwindowDrawerCmdButton {
    font-size: var(--lumo-font-size-s);
}


/* TabSheet and Tabs * * * * * * * * * * * * */
.MainwindowTabSheet {
    background: #f7f8fa;
}

vaadin-tabs {
    min-height: 35px;
    max-height: 35px;
    height: 35px;
}

vaadin-tabsheet::part(content) {
	padding: 0px !important;
}
vaadin-tab {
    border-bottom: 2px solid transparent;
}
vaadin-tab[aria-selected~='true']{
    background: var(--turku-primary-background);
    border-bottom: 2px solid var(--lumo-primary-color);
}

vaadin-tabsheet[hlevel~="1"] vaadin-tab[aria-selected~="true"] {
    background-color: var(--turku-primary-background-hl1);
    border-bottom: 2px solid var(--lumo-primary-color);
}

vaadin-tabsheet[hlevel~="2"] {
    background-color: var(--turku-primary-background-hl1);
}
vaadin-tabsheet[hlevel~="2"] vaadin-tab[aria-selected~="true"]{
    background-color: var(--turku-primary-background-hl2);
    border-bottom: 2px solid var(--lumo-primary-color);
}

vaadin-tabsheet[hlevel~="3"] {
    background-color: var(--turku-primary-background-hl2);
}
vaadin-tabsheet[hlevel~="3"] vaadin-tab[aria-selected~="true"] {
    background-color: var(--turku-primary-background-hl3);
    border-bottom: 2px solid var(--lumo-primary-color);
}











.CmdUiTab {
    /* border-top: 4px solid var(--turku-primary-background); */
    background: var(--turku-primary-background);
}

.ModalTab {
    /* border-top: 4px solid var(--lumo-primary-color); */
}

.TabLockingMessage {
    font-weight: var(--turku-bold);
    padding: 0px 10px 0px 0px;
    color: var(--lumo-primary-color);
}


/* PromptWindow / CmdUi * * * * * * * * * * */
.PromptWindow::part(overlay) {
    position: absolute !important;
    top: 0px !important;
}

.PromptWindowInfoDiv {
    padding: 4em;
    white-space: pre;
}

.PromptWindowQuestion {
    color: var(--lumo-error-color) !important;
    font-weight: var(--turku-bold);
}

.PromptWindowLarge {
    font-family: courier;
    font-size: var(--lumo-font-size-xs);
}

vaadin-button::part(prefix) {
    margin-bottom: -4px;
}


.BottomConclusionButtons {
    padding: 0.2em 0em;
}
.BottomConclusionButtons vaadin-button:first-child {
    margin-left: 1em;
}
.BottomConclusionButtons vaadin-button:last-child {
    margin-right: 1em;
}


/* TurkuGridLayout (+ gen. form) * * * * * * * * * * * * * * * * */
.TurkuGrid{
    padding: var(--turku-hierarchy-spacing);
}

.FormHeading {
    font-weight: var(--turku-bold);
    color: var(--lumo-primary-color);
    margin-left: 0.2em;
}

div[pageTitle~"true"] {
    font-size: var(--lumo-font-size-l);
    line-height: var(--lumo-font-size-l);
    margin-top: var(--turku-hierarchy-spacing);
    margin-bottom: var(--turku-hierarchy-spacing);
}

/* Table / From top pane search / csv-export / menubar */
.TurkuHeadingTopPane vaadin-text-field {
    padding: 0em;
    margin: 0em;
    height: var(--turku-form-menu-height);
    align-self: end;
}
.TurkuHeadingTopPane vaadin-text-field input {
    height: var(--turku-form-menu-height);
    min-height: var(--turku-form-menu-height);
}


.TurkuHeadingTopPane vaadin-button {
    padding: 0em;
    margin: 0em;
    height: var(--turku-form-menu-height);
    min-width: 8em;
    align-self: end;
}
.TurkuHeadingTopPane vaadin-menu-bar {
    margin-right: 0.5em;
    align-self: end;
    padding: 0em 0.5em;
}
.TurkuFormMenu::part(menu-bar-button) {
    height: var(--turku-form-menu-height);
    margin: 0em;
    align-self: end;
    padding: 0em 0.5em;
}


.TurkuErrorDiv {
    background-color: var(--lumo-error-color) !important;
    color: white;
    margin: 0.2em 0em 0.2em 0em;
    font-weight: var(--turku-bold);
}
.TurkuWarningDiv {
    background-color: #FF6700 !important;
    margin: 0.2em 0em 0.2em 0em;
    font-weight: var(--turku-bold);
    color: white;
}


.TurkuTabForm {
    padding: var(--turku-hierarchy-spacing);
}



vaadin-tab[aria-selected~="true"][hlevel ~="1"], .TurkuGrid[hlevel ~="1"], .TurkuTable[hlevel ~="1"], .TurkuDelegatesForm[hlevel ~="1"]{
    background-color: var(--turku-primary-background-hl1);
}
vaadin-tab[aria-selected~="true"][hlevel ~="2"], .TurkuGrid[hlevel ~="2"],  .TurkuTable[hlevel ~="2"], .TurkuDelegatesForm[hlevel ~="2"]{
    background-color: var(--turku-primary-background-hl2);
}
vaadin-tab[aria-selected~="true"][hlevel ~="3"], .TurkuGrid[hlevel ~="3"], .TurkuTable[hlevel ~="3"], .TurkuDelegatesForm[hlevel ~="3"]{
    background-color: var(--turku-primary-background-hl3);
}





/* TurkuTable * * * * * * * * * * * * * * * RAUS ODER NOCHT RAUS VON HIER? */
.TurkuTable {
    padding: var(--turku-hierarchy-spacing);
}

vaadin-selection-grid {
    height: 100px !important;
}

.TurkuTableSummaryLine {
    font-size: var(--lumo-font-size-xs);
    font-weight: var(--turku-bold);
}
.TurkuTableSummaryLine label:first-child {
    padding-left: 0.5em;
}
.TurkuTableSummaryLine label:last-child {
    padding-right: 0.5em;
}


/* vaadin-button::part(prefix) {
    margin-bottom: -4px;
}*/

vaadin-grid-sorter:not([direction])::part(indicators)::before {
  display: none;
}

vaadin-grid-pro-edit-text-field[theme~='grid-pro-editor'] {
  --lumo-text-field-size: 1rem !important;
}




/* TurkuDelegateForm * * * * * * * * * * * * * * * */

vaadin-form-item::part(label) {
    width: 120px;
}

vaadin-combo-box-item {
    padding: 0;
    min-height: 0;
}

vaadin-form-item::part(label) {
    text-align: right;
}


/* Delegates * * * * * * * * * * * * * * * * * * * **/
.TurkuDelegatesForm{
    padding: var(--turku-hierarchy-spacing);
}