:host([theme~="selectable-text"]) {
    -moz-user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
    user-select: text;
}
:host {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    --_lumo-grid-selected-row-color: var(--turku-grid-selected-row-color);
}
/*
:host(:not([reordering])) [part~='row'][selected] [part~='body-cell']:not([part~='details-cell']) {
  color: white !important;
  --turku-CelCol: white !important;
} */

:host([theme~="row-stripes"]) [part~="row"]:not([odd]) [part~="body-cell"],
:host([theme~="row-stripes"]) [part~="row"]:not([odd]) [part~="details-cell"] {
background-image: linear-gradient(var(--turku-alternate-background), var(--turku-alternate-background));
background-repeat: repeat-x;
}

:host([navigating]) [part~='row']:focus::before, :host([navigating]) [part~='focused-cell']:focus::before {
    box-shadow: inset 0 0 0 2px #ADADAD !important;
}

:host([theme~="dense"]) [part~="cell"] {
  min-height: var(--lumo-size-xs);
}

/*
 * hLevel Idea, deprecated in spring 24
 *
 *
:host([hlevel~="1"]) [part~="cell"], :host([hlevel~="1"]) tbody {
    background-color: var(--turku-primary-background-hl1);
}
:host([hlevel~="2"]) [part~="cell"], :host([hlevel~="2"]) tbody  {
    background-color: var(--turku-primary-background-hl2);
}
:host([hlevel~="3"]) [part~="cell"], :host([hlevel~="3"]) tbody  {
    background-color: var(--turku-primary-background-hl3);
} */


:host([theme~="dense"]) [part~="editable-cell"] {
  background-color: var(--turku-primary-background);
  color: var(--lumo-body-text-color);
}

:host([theme~="dense"]) {
  font-size: var(--lumo-font-size-s);
}

:host([theme~="dense"]) [part~="cell"] ::slotted(vaadin-grid-cell-content) {
  padding: 0px var(--lumo-space-xs);
}

:host([theme~="dense"]:not([theme~="no-row-borders"]))
  [part="row"][first]
  [part~="cell"]:not([part~="details-cell"]) {
  border-top: 0;
  min-height: calc(var(--lumo-size-xs) - var(--_lumo-grid-border-width));
}

[part~="resize-handle"]::before {
    width: 15px !important;
}