:host([theme~="selectable-text"]) {
    -moz-user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
    user-select: text;
}
:host {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    --_lumo-grid-selected-row-color: var(--turku-grid-selected-row-color);
}

:host([theme~="dense"]) [part~="cell"] {
  min-height: var(--lumo-size-xs);
}

:host([hlevel~="1"]) [part~="cell"], :host([hlevel~="1"]) tbody {
    background-color: var(--turku-primary-background-hl1);
}
:host([hlevel~="2"]) [part~="cell"], :host([hlevel~="2"]) tbody  {
    background-color: var(--turku-primary-background-hl2);
}
:host([hlevel~="3"]) [part~="cell"], :host([hlevel~="3"]) tbody  {
    background-color: var(--turku-primary-background-hl3);
}


:host([theme~="dense"]) [part~="editable-cell"] {
  background-color: rgb(245, 248, 253);
}

:host([theme~="dense"]) {
  font-size: var(--lumo-font-size-xs);
}

:host([theme~="dense"]) [part~="cell"] ::slotted(vaadin-grid-cell-content) {
  padding: 0px var(--lumo-space-s);
}

:host([theme~="dense"]:not([theme~="no-row-borders"]))
  [part="row"][first]
  [part~="cell"]:not([part~="details-cell"]) {
  border-top: 0;
  min-height: calc(var(--lumo-size-xs) - var(--_lumo-grid-border-width));
}