/*
 * Turkuforms modellwerkstatt.org
 * Stieger Dan, Winter 22/23
 *
 * Custom moware css adoptions for vaadin
 */




/* * * * * * * * * * * * * * * * * * * * * * */
vaadin-tooltip-overlay::part(content) {
   white-space: pre;
}





/* TurkuLayout * * * * * * * * * * * * * * * */
.TurkuLayoutNavbarTitle {
    font-size: var(--lumo-font-size-l);
    margin: 0;
}

vaadin-menu-bar {
    padding-right: 2em;
}

vaadin-menu-bar::part(container) {
    justify-content: flex-end;

}

.MainwindowTileButton {
    font-size: var(--lumo-font-size-s);
    margin: 1em;
}

.MainwindowTilesGrid {
    margin-top: 3em;
}

.TurkulayoutMenuIcon {
    box-sizing: border-box;
    margin-inline-end: var(--lumo-space-m);
    padding: var(--lumo-space-xs);
}

.MainwindowDrawerCmdButton {
    font-size: var(--lumo-font-size-s);
}


/* CmdUi * * * * * * * * * * * * * * * */
@media screen and (max-width: 750px) {

    .CmdUiConclusionsFlex {
        flex-wrap: wrap-reverse;
        flex-direction: row-reverse;
    }

    .CmdUiConclusionsFlexSpacer {
        display: none;
    }

    .CmdUiConclusionsFlexButton {
        flex: 1 0 45%;
    }
}