/*
 * Turkuforms modellwerkstatt.org
 * Stieger Dan, Winter 22/23
 *
 * Custom moware css adoptions for vaadin
 */




/* * * * * * * * * * * * * * * * * * * * * * */
vaadin-tooltip-overlay::part(content) {
   white-space: pre;
}

.TurkuLabel {
    color: var(--lumo-primary-text-color);
    font-family: var(--lumo-font-family);
    font-size: var(--lumo-font-size-m);
    line-height: var(--lumo-line-height-xs);
    font-weight: 500;
}

@media screen and (max-width: 810px) {

    .LeftRightFlexConclusionBtns {
        flex-wrap: wrap-reverse !important;
        flex-direction: row-reverse;
    }

    .LeftRightFlexSpacerConclusionBtns {
        display: none;
    }

    .LeftRightFlexChildConclusionBtns {
        flex: 1 0 45%;
    }

    .InvisibleWhenBelow {
        display: none;
    }
}




/* TurkuLayout * * * * * * * * * * * * * * * */
.TurkuLayoutNavbarTitle {
    font-size: var(--lumo-font-size-l);
    margin: 0;
}

.TurkuLayoutMenuBar {
    padding-right: 2em;
}

.TurkuLayoutMenuBar::part(container) {
    justify-content: flex-end;

}

.MainwindowTileButton {
    font-size: var(--lumo-font-size-s);
    margin: 1em;
}

.MainwindowTilesGrid {
    margin-top: 3em;
}

.TurkulayoutMenuIcon {
    box-sizing: border-box;
    margin-inline-end: var(--lumo-space-m);
    padding: var(--lumo-space-xs);
}

.MainwindowDrawerCmdButton {
    font-size: var(--lumo-font-size-s);
}


/* PromptWindow / CmdUi * * * * * * * * * * */
.PromptWindow::part(overlay) {
    position: absolute !important;
    top: 0px !important;
}

.PromptWindowInfoDiv {
    padding: 4em;
    white-space: pre;
}
.PromptWindowQuestionColor { color: var(--lumo-error-color) !important; }
.PromptWindowLarge {
    font-family: courier;
    font-size: var(--lumo-font-size-xs);
}


/* TurkuTable * * * * * * * * * * * * * * * */

.FormHeading {
    color: var(--lumo-primary-text-color);
    font-family: var(--lumo-font-family);
    font-size: var(--lumo-font-size-m);
    font-weight: 500;
    line-height: var(--lumo-font-size-m);
}

.TurkuErrorColor { color: var(--lumo-error-color) !important; }
.TurkuWarningColor { color: #FF6700 !important; }

vaadin-selection-grid {
    height: 100px !important;
}

vaadin-selection-grid vaadin-checkbox {
    --_checkbox-size: var(--vaadin-checkbox-size, calc(var(--lumo-size-m) / 2.8));
}